<div class="container-fluid">
  <div class="login-wrapper row">
    <div id="login" class="login loginpage offset-xl-4 offset-lg-3 offset-md-3 offset-0 col-12 col-md-6 col-xl-4">
      <h1><a href="#" title="Login Page" tabindex="-1"><img src="assets/images/Logo-new-navbar.png" /></a></h1>

      <form name="form" (ngSubmit)="f.form.valid && onSubmit(f.form.valid)" #f="ngForm" novalidate>
        <p>
          <label for="user_login">Username<br />
            <input type="text" name="userName" class="input" [(ngModel)]="user.userName" required #userName="ngModel" />
         
          <div *ngIf="f.submitted && userName.invalid" class="invalid-feedback">
            <div *ngIf="userName.errors.required">First Name is required</div>
          </div>
         </label>
        <p>
          <label for="user_pass">Password<br />
            <input type="password" name="pwd" id="user_pass" class="input" value="demo" size="20" />
            <div *ngIf="f.submitted && userName.invalid" class="invalid-feedback">
              <div *ngIf="userName.errors.required">First Name is required</div>
            </div>
          </label>
        </p>
        <p class="forgetmenot">
          <label class="icheck-label form-label" for="rememberme"><input name="rememberme" type="checkbox"
              id="rememberme" value="forever" class="icheck-minimal-aero" checked> Remember me</label>
        </p>
        <p class="submit">
          <input type="submit"  class="btn btn-accent btn-block" value="Sign In" />
        </p>
      </form>

      <p id="nav">
        <a class="float-left" href="forgot-password.html" title="Password Lost and Found">Forgot password?</a>
        <a class="float-right" href="ui-register.html" title="Sign Up">Sign Up</a>
      </p>


    </div>
  </div>
</div>