<section id="main-content" class=" ">
  <section class="wrapper main-wrapper row" style=''>

    <div class='col-12'>
      <div class="page-title">

        <div class="float-left">
          <!-- PAGE HEADING TAG - START -->
          <h1 class="title">User Profile</h1><!-- PAGE HEADING TAG - END -->
        </div>

        <div class="float-right d-none">
          <ol class="breadcrumb">
            <li>
              <a href="index.html"><i class="fa fa-home"></i>Home</a>
            </li>
            <li>
              <a href="ui-profile.html">Social Media</a>
            </li>
            <li class="active">
              <strong>User Profile</strong>
            </li>
          </ol>
        </div>

      </div>
    </div>
    <div class="clearfix"></div>
    <!-- MAIN CONTENT AREA STARTS -->


    <div class="col-xl-12">
      <section class="box nobox ">
        <div class="content-body">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-12">
              <div class="uprofile-image">
                <img alt="" src="assets/images/profile-blog.jpg" class="img-fluid">
              </div>
              <div class="uprofile-name">
                <h3>
                  <a href="#">Shane Taylor</a>
                  <!-- Available statuses: online, idle, busy, away and offline -->
                  <span class="uprofile-status online"></span>
                </h3>
                <p class="uprofile-title">Presenter</p>
              </div>
              <div class="uprofile-info">
                <ul class="list-unstyled">
                  <li><i class='fa fa-home'></i> New York, USA</li>
                  <li><i class='fa fa-user'></i> 340 Members</li>
                  <li><i class='fa fa-suitcase'></i> Tech Lead, YIAM</li>
                </ul>
              </div>

              <div class="uprofile-info">
                <h5>Subscription</h5>
                <ul class="list-unstyled">
                  <b>Expires: </b>05-June-2019
                </ul>
                <button type="button" class="btn btn-primary">Renew</button>
              </div>
            </div>
            <div class="col-lg-9 col-md-8 col-12">

              <div class="uprofile-content">
                <div class="row">
                  <div class="col-xl-6">
                    <section class="box ">
                      <header class="panel_header">
                        <h2 class="title float-left">Presenters</h2>
                        <div class="actions panel_actions float-right">
                          <a class="box_toggle fa fa-chevron-down"></a>
                          <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                          <a class="box_close fa fa-times"></a>
                        </div>
                      </header>
                      <div class="content-body">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th style="width:60%">Name</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>

                              <td><span class="user_name_widget">Paramjit Kaur</span></td>
                            </tr>
                            <tr>

                              <td><span class="user_name_widget">Jagdip Singh</span></td>
                            </tr>
                            <tr>

                              <td><span class="user_name_widget">John Carter</span></td>
                            </tr>

                            <tr>

                              <td><span class="user_name_widget">Demo User</span></td>
                            </tr>
                            <tr>

                              <td><span class="user_name_widget">Arti Verma</span></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </section>
                  </div>
                  <div class="col-xl-6">
                    <section class="box ">
                      <header class="panel_header">
                        <h2 class="title float-left">Collaborator</h2>
                        <div class="actions panel_actions float-right">
                          <a class="box_toggle fa fa-chevron-down"></a>
                          <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                          <a class="box_close fa fa-times"></a>
                        </div>
                      </header>
                      <div class="content-body">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th style="width:60%">Name</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>

                              <td><span class="user_name_widget">Paramjit Kaur</span></td>
                            </tr>
                            <tr>

                              <td><span class="user_name_widget">Jagdip Singh</span></td>
                            </tr>
                            <tr>

                              <td><span class="user_name_widget">John Carter</span></td>
                            </tr>

                            <tr>

                              <td><span class="user_name_widget">Demo User</span></td>
                            </tr>
                            <tr>

                              <td><span class="user_name_widget">Arti Verma</span></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </section>
                  </div>
                  <div class="col-sm-12">
                    <section class="box ">
                      <table id="example-1" class="table table-striped dt-responsive display" cellspacing="0"
                        width="100%">
                        <thead>
                          <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>File</th>
                            <th>Users</th>
                            <th>Date</th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>File</th>
                            <th>Users</th>
                            <th>Date</th>
                          </tr>
                        </tfoot>
                        <tbody>
                          <tr>
                            <td><img src="assets/images/4ab3d7d9-d83f-4e4e-a881-590416174418_N_thumb.jpg"
                                class="user_view_doc" /></td>
                            <td>Paramjit Kaur</td>
                            <td>Presenter</td>
                            <td>Video</td>
                            <td>61</td>
                            <td>2011/04/25</td>
                          </tr>
                          <tr>
                            <td><img src="assets/images/bcfec784-2c1b-4e1a-8b49-6ffbb25724b0.jpg"
                                class="user_view_doc" /></td>
                            <td>Paramjit Kaur</td>
                            <td>Presenter</td>
                            <td>Slide</td>
                            <td>61</td>
                            <td>2011/04/25</td>
                          </tr>
                          <tr>
                            <td><img src="assets/images/4ab3d7d9-d83f-4e4e-a881-590416174418_N_thumb.jpg"
                                class="user_view_doc" /></td>
                            <td>Paramjit Kaur</td>
                            <td>Presenter</td>
                            <td>Video</td>
                            <td>61</td>
                            <td>2011/04/25</td>
                          </tr>
                          <tr>
                            <td><img src="assets/images/bcfec784-2c1b-4e1a-8b49-6ffbb25724b0.jpg"
                                class="user_view_doc" /></td>
                            <td>Paramjit Kaur</td>
                            <td>Presenter</td>
                            <td>Slide</td>
                            <td>61</td>
                            <td>2011/04/25</td>
                          </tr>
                          <tr>
                            <td><img src="assets/images/4ab3d7d9-d83f-4e4e-a881-590416174418_N_thumb.jpg"
                                class="user_view_doc" /></td>
                            <td>Paramjit Kaur</td>
                            <td>Presenter</td>
                            <td>Video</td>
                            <td>61</td>
                            <td>2011/04/25</td>
                          </tr>
                          <tr>
                            <td><img src="assets/images/4ab3d7d9-d83f-4e4e-a881-590416174418_N_thumb.jpg"
                                class="user_view_doc" /></td>
                            <td>Paramjit Kaur</td>
                            <td>Presenter</td>
                            <td>Video</td>
                            <td>61</td>
                            <td>2011/04/25</td>
                          </tr>
                        </tbody>
                      </table>
                    </section>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </section>
    </div>


    <!-- MAIN CONTENT AREA ENDS -->
  </section>
</section>