<section id="main-content" class=" ">
  <section class="wrapper main-wrapper row" style=''>

    <div class='col-12'>
      <div class="page-title">

        <div class="float-left">
          <!-- PAGE HEADING TAG - START -->
          <h1 class="title">Dashboard</h1><!-- PAGE HEADING TAG - END -->
        </div>


      </div>
    </div>
    <div class="clearfix"></div>
    <!-- MAIN CONTENT AREA STARTS -->
    <div class="row margin-0">
      <div class="col-xl-12">
        <section class="box nobox marginBottom0">
          <div class="content-body">
            <div class="row">
              <div class="col-xl-3 col-md-6 col-12">
                <div class="r4_counter db_box">
                  <i class='float-left fa fa-thumbs-up icon-md icon-rounded icon-primary'></i>
                  <div class="stats">
                    <h4><strong>45</strong></h4>
                    <span>Group Admin</span>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6 col-12">
                <div class="r4_counter db_box">
                  <i class='float-left fa fa-shopping-cart icon-md icon-rounded icon-accent'></i>
                  <div class="stats">
                    <h4><strong>20</strong></h4>
                    <span>Presenter</span>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6 col-12">
                <div class="r4_counter db_box">
                  <i class='float-left fa fa-dollar icon-md icon-rounded icon-purple'></i>
                  <div class="stats">
                    <h4><strong>15</strong></h4>
                    <span>Collaborator</span>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6 col-12">
                <div class="r4_counter db_box">
                  <i class='float-left fa fa-users icon-md icon-rounded icon-warning'></i>
                  <div class="stats">
                    <h4><strong>14</strong></h4>
                    <span>New Users</span>
                  </div>
                </div>
              </div>
            </div> <!-- End .row -->
          </div>
        </section>
      </div>
      <div class="col-12 col-lg-6 col-xl-4">
        <section class="box ">
          <header class="panel_header">
            <h2 class="title float-left">Platforms Used</h2>
            <div class="actions panel_actions float-right">
              <a class="box_toggle fa fa-chevron-down"></a>
              <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
              <a class="box_close fa fa-times"></a>
            </div>
          </header>
          <div class="content-body">
            <div class="row">
              <div class="col-12">
                <div class="chart-container">
                  <div class="" style="height:200px" id="platform_type_dates"></div>
                </div>
              </div>
            </div> <!-- End .row -->
          </div>
        </section>
      </div>



      <div class="col-12 col-lg-6 col-xl-4">
        <section class="box ">
          <header class="panel_header">
            <h2 class="title float-left">Guest / Registered</h2>
            <div class="actions panel_actions float-right">
              <a class="box_toggle fa fa-chevron-down"></a>
              <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
              <a class="box_close fa fa-times"></a>
            </div>
          </header>
          <div class="content-body">
            <div class="row">
              <div class="col-12">
                <div class="chart-container">
                  <div class="" style="height:200px" id="user_type"></div>
                </div>
              </div>
            </div> <!-- End .row -->
          </div>
        </section>
      </div>



      <div class="col-12 col-lg-6 col-xl-4">
        <section class="box ">
          <header class="panel_header">
            <h2 class="title float-left">Browsers Used</h2>
            <div class="actions panel_actions float-right">
              <a class="box_toggle fa fa-chevron-down"></a>
              <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
              <a class="box_close fa fa-times"></a>
            </div>
          </header>
          <div class="content-body">
            <div class="row">
              <div class="col-12">
                <div class="chart-container">
                  <div class="" style="height:200px" id="browser_type"></div>
                </div>


              </div>
            </div> <!-- End .row -->
          </div>
        </section>
      </div>


    </div>
    <div class="row margin-0">
      <div class="col-xl-6">
        <section class="box ">
          <header class="panel_header">
            <h2 class="title float-left">Recent Registered</h2>
            <div class="actions panel_actions float-right">
              <a class="box_toggle fa fa-chevron-down"></a>
              <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
              <a class="box_close fa fa-times"></a>
            </div>
          </header>
          <div class="content-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th style="width:40%">Name</th>
                  <th style="width:20%">Type</th>
                  <th style="width:20%">Date</th>
                </tr>
              </thead>
              <tbody>
                <tr>

                  <td><span class="user_name_widget">Harry P.</span></td>
                  <td>Presenter</td>
                  <td>24/5/2019</td>
                </tr>
                <tr>

                  <td><span class="user_name_widget">Will Mark</span></td>
                  <td>Collaborator</td>
                  <td>24/5/2019</td>
                </tr>
                <tr>

                  <td><span class="user_name_widget">Jason D.</span></td>
                  <td>Presenter</td>
                  <td>24/5/2019</td>
                </tr>

                <tr>

                  <td><span class="user_name_widget">Nik P.</span></td>
                  <td>Collaborator</td>
                  <td>24/5/2019</td>
                </tr>
                <tr>

                  <td><span class="user_name_widget">Kate Wilson</span></td>
                  <td>Presenter</td>
                  <td>24/5/2019</td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
      </div>

      <div class="col-xl-6">
        <section class="box ">
          <header class="panel_header">
            <h2 class="title float-left">Upcoming Registrations Expires</h2>
            <div class="actions panel_actions float-right">
              <a class="box_toggle fa fa-chevron-down"></a>
              <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
              <a class="box_close fa fa-times"></a>
            </div>
          </header>
          <div class="content-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th style="width:60%">Name</th>
                  <th style="width:30%">Expiry Date</th>
                </tr>
              </thead>
              <tbody>
                <tr>

                  <td><span class="user_name_widget">Harry P.</span></td>
                  <td><span class="widget_expire_date">24/5/2019</span></td>
                </tr>
                <tr>

                  <td><span class="user_name_widget">Will Mark</span></td>
                  <td><span class="widget_expire_date">24/5/2019</span></td>
                </tr>
                <tr>

                  <td><span class="user_name_widget">Jason D.</span></td>
                  <td><span class="widget_expire_date">24/5/2019</span></td>
                </tr>

                <tr>

                  <td><span class="user_name_widget">Nik P.</span></td>
                  <td><span class="widget_expire_date">24/5/2019</span></td>
                </tr>
                <tr>

                  <td><span class="user_name_widget">Kate Wilson</span></td>
                  <td><span class="widget_expire_date">24/5/2019</span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
      </div>
      <div class="col-xl-12">
        <section class="box ">
          <header class="panel_header">
            <h2 class="title float-left">Notifications</h2>
            <div class="actions panel_actions float-right">
              <a class="box_toggle fa fa-chevron-down"></a>
              <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
              <a class="box_close fa fa-times"></a>
            </div>
          </header>
          <div class="content-body">
            <ul id="notiContent">
              <li>
                <img alt="image" class="notification-icon" src="assets/images/profile-crm.jpg">
                <div class="notification-info">
                  <span class="notification-txt">
                    <b>Paramjeet Kaur Bhambra</b> added new video to <b>Startup Conference JAN 2019</b><br>
                    <span class="notifocation-about video-noti">
                      <a href="/Recording/Review/1006">
                        <img src="assets/images/4ab3d7d9-d83f-4e4e-a881-590416174418_N_thumb.jpg">
                        <svg width="40px" height="40px" viewBox="0 0 40 40" version="1.1"
                          xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                          <title>Paramjeet Kaur Bhambra - Startup Conference JAN 2019</title>
                          <desc>Created with sketchtool.</desc>
                          <defs>
                            <circle id="path-1" cx="16" cy="16" r="16"></circle>
                            <filter x="-21.9%" y="-15.6%" width="143.8%" height="143.8%" filterUnits="objectBoundingBox"
                              id="filter-2">
                              <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                              <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1">
                              </feGaussianBlur>
                              <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.0847486413 0"
                                type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                            </filter>
                          </defs>
                          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Assets" transform="translate(-295.000000, -123.000000)">
                              <g id="ic_play_my_video" transform="translate(299.000000, 125.000000)">
                                <g id="Oval">
                                  <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                                  <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                                </g>
                                <polygon id="Rectangle" fill="#000000"
                                  transform="translate(14.000000, 16.000000) rotate(-135.000000) translate(-14.000000, -16.000000) "
                                  points="10.6105453 11 19 19.3894547 9 21"></polygon>
                              </g>
                            </g>
                          </g>
                        </svg>
                      </a>
                    </span>
                  </span>
                  <span class="noti-date">2 mons</span>
                </div>
              </li>
              <li>
                <img src="assets/images/avatar-1.png" class="notification-icon">
                <div class="notification-info">
                  <span class="notification-txt">
                    <b>Deep Singh</b> updated their <b>Profile</b>
                  </span>
                  <span class="noti-date">4 mons</span>
                </div>
              </li>
              <li>
                <img src="assets/images/avatar-1.png" class="notification-icon">
                <div class="notification-info">
                  <span class="notification-txt">
                    <b>Deep Singh</b> updated their <b>Profile</b>
                  </span>
                  <span class="noti-date">4 mons</span>
                </div>
              </li>
              <li>
                <img src="assets/images/avatar-1.png" class="notification-icon">
                <div class="notification-info">
                  <span class="notification-txt">
                    <b>Deep Singh</b> updated their <b>Profile</b>
                  </span>
                  <span class="noti-date">4 mons</span>
                </div>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </div>
    <div class="clearfix"></div>

    <!-- MAIN CONTENT AREA ENDS -->
  </section>
</section>